---
import Email from "../Icons/Email.astro";
---

<a href="mailto:mauricio.borawski@gmail.com">
  <span
    class="mt-2 text-md me-2 inline-flex min-w-[150px] items-center justify-center gap-2 rounded-full bg-black px-4 py-2 font-medium text-white hover:scale-105"
  >
    <Email />
    mauricio.borawski@gmail.com</span
  >
</a>
