---
import Github from "../Icons/Github.astro";
---

<a href="https://github.com/MauricioBorawski" target="_blank">
  <span
    class="text-md me-2 inline-flex min-w-[150px] items-center justify-center gap-2 rounded-full bg-black px-4 py-2 font-medium text-white hover:scale-105"
  >
    <Github />
    Github</span
  >
</a>
