---
import Linkedin from "../Icons/Linkedin.astro";
---

<a href="https://www.linkedin.com/in/mnborawski" target="_blank">
<span
  class="gap-2 min-w-[150px] me-2 rounded-full inline-flex items-center justify-center border border-gray-500 bg-black  px-4 py-2 text-lg font-medium text-white hover:scale-105"
>
  <Linkedin />
  Linkedin
</span>
</a>