---
import Header from "../layouts/Layout.astro";
import "../styles/title.css";
---

<Header title="Mauricio Borawski">
  <div id="title-container" class="container">
    <h1
      class="mx-auto h-min w-fit text-center text-6xl text-pastel-greenPrimary"
    >
      Mauricio Borawski
    </h1>
    <h2
      id="subTitle"
      class="h-min w-fit pt-3 text-center text-2xl text-pastel-greyPerl"
    >
      Software Developer
    </h2>
  </div>

  <main
    class="container mx-auto grid grid-rows-1 text-pastel-greyPerl"
    id="main-content"
  >
    <div>
      <h3
        id="welcome-text"
        class="h-min text-center text-5xl text-pastel-greyPerl"
      >
        Hi and welcome !
      </h3>
      <h4
        id="aboutme"
        class="mx-auto h-min w-2/3 pt-10 text-center text-2xl text-pastel-greyPerl"
      >
        I'm a Front-End developer with three years of experience on the field. I
        specialize in building websites and web applications. I'm constaly
        learing new things to improve my skills so I can offer high quality
        code. If you want to chat you can contact me Contact.
      </h4>
    </div>
    <div class="mouse-scroll-content">
      <div class="mouse"></div>
    </div>
  </main>
  <script>
    const titleContainer = document.querySelector(
      "#title-container"
    ) as HTMLElement;
    const mainContent = document.querySelector("#main-content") as HTMLElement;
    const welcomeText = document.querySelector("#welcome-text") as HTMLElement;
    const aboutMe = document.querySelector("#aboutme") as HTMLElement;

    let timer: number = 0;

    clearTimeout(timer);

    timer = setTimeout(() => {
      if (titleContainer) {
        titleContainer.style.animationPlayState = "running";
      }
    }, 3000);

    titleContainer.addEventListener("animationend", (event: AnimationEvent) => {
      if (event.animationName === "moveUp") {
        mainContent.style.display = "block";
        welcomeText.style.animationPlayState = "running";
        aboutMe.style.animationPlayState = "running";
      }
    });
  </script>
</Header>
