---
import Header from "../layouts/Layout.astro";
import Title from "../layouts/Title.astro";
import Experience from "../layouts/Experiencie.astro";
import Navbar from "../components/Navbar.astro";
---

<Header title="Mauricio Borawski - Front End Developer">
  <div class="max-w-5xl w-full m-auto px-6">
    <Navbar />
    <Title />
    <Experience />
  </div>
</Header>
