---
import Header from "../layouts/Layout.astro";
import MainContent from "../layouts/MainContent.astro";
import Experience from "../layouts/Experience.astro";
---

<Header title="Mauricio Borawski">
  <div>
    <MainContent />
    <Experience />
  </div>
</Header>
