---
import Header from "../layouts/Layout.astro";
---

<Header title="Mauricio Borawski">
  <div id="title-container" class="container">
    <h1
      class="mx-auto h-min w-fit text-center text-6xl text-pastel-greenPrimary"
    >
      Mauricio Borawski
    </h1>
    <h2
      id="subTitle"
      class="h-min w-fit pt-3 text-center text-2xl text-pastel-greyPerl"
    >
      Software Developer
    </h2>
  </div>

  <main
    class="container mx-auto grid h-full grid-rows-1 pt-14 text-pastel-greyPerl"
    id="main-content"
  >
    <div>
      <h3 class="h-min text-center text-6xl text-pastel-greyPerl">
        Hi and welcome !
      </h3>
      <h4 class="h-min text-center text-4xl text-pastel-greyPerl">
        I am a Front-End developer with three years on the field.
        <br />
        I specialize in building websites and web applications. I'm constaly learing
        new things to improve my skills so I can offer high quality code. If you
        want to chat you can contact me Contact.
      </h4>
    </div>
  </main>
  <style>
    #title-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 2rem;
      left: 50%;
      transform: translate(-50%, 0%);
      animation: test 2s reverse;
      animation-play-state: paused;
    }
    #subTitle {
      overflow: hidden;
      border-right: 0.15em solid #e6e6e6;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
      animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end 5;
      border-color: transparent;
    }

    #main-content {
      display: none;
    }
    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 320px;
      }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: #e6e6e6;
      }
    }

    @keyframes test {
      to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  </style>
  <script>
    const titleContainer = document.querySelector(
      "#title-container"
    ) as HTMLElement;
    const mainContent = document.querySelector("#main-content") as HTMLElement;

    let timer: number = 0;

    clearTimeout(timer);

    timer = setTimeout(() => {
      if (titleContainer) {
        titleContainer.style.animationPlayState = "running";
      }
    }, 3000);

    titleContainer.addEventListener("animationend", (event: AnimationEvent) => {
      if (event.animationName === "test") {
        mainContent.style.display = "block";
      }
    });
  </script>
</Header>
