---
interface Props {
  id: string;
  class?: string;
  active?: boolean;
}

const { id, class: className, active = false } = Astro.props;
---

<button
  id={id}
  class:list={[
    "w-[100px] max-h-12 p-3 capitalize text-slate-50",
    active && "bg-primaryPurple text-slate-50",
    className,
  ]}
>
  <slot />
</button>
