---
interface Props {
  aligment?: "vertical" | "horizontal";
  width?: string;
  class?: string;
}

const { aligment, width, class: className } = Astro.props;
---

<div
  class:list={[
    "bg-gray-300 rounded",
    aligment === "horizontal" ? "w-full h-1" : "w-1 h-full",
    width ? `w-[${width}]` : "",
    className
  ]}
>
</div>
