<header class="flex items-center justify-center my-8">
  <nav class="
    backdrop-blur-xl bg-white/50
    box-border rounded-[25px] shadow-xl 
    p-2
    ">
    <ul class="
      text-center
      [&>li]:inline-block
      [&>li]:cursor-pointer 
      [&>li]:py-2
      [&>li]:px-4
      [&>li]:m-2
      ">
      <li class="
      hover:bg-secondaryBlue
      hover:rounded-[25px]
      hover:text-white/100
        "><a href="#experience">Experience</a></li>
      <li class="
      hover:bg-secondaryBlue
      hover:rounded-[25px]
      hover:text-white/100
        "><a>Proyects</a></li>
      <li class="
        bg-primaryBlue
        rounded-[25px]
        text-white/100
        "><a>Download CV</a></li>
    </ul>
  </nav>
</header>
