---
import Title from "./Title.astro";
import Container from "./Container.astro";
import Link from "../components/Link.astro";

interface Props {
  description: string;
  link: string;
  technologies: string;
  title: string;
  image: string;
}

const { description, link, technologies, title } = Astro.props;
---

<style>
  .btn-download:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #BF2C7D;
    transform: translateY(-0.25em);
  }

  .project-card:hover {
    background-color: #BF2C7D;
    color: white;
  }
</style>
<Container
  class=" btn-download h-64 w-80 border-primaryPurple border-2 rounded-lg justify-between items-baseline flex-col p-6"
>
  <Title type={"h3"}>{title}</Title>
  <p class="text-sm text-slate-400 pl-2">Technologies: {technologies}</p>
  <p class="text-sm my-3 pl-4 text-slate-200">{description}</p>
  <Link
    class="max-w-fit rounded-sm bg-primaryPurple py-2 px-4 text-slate-50 drop-shadow-md hover:border-b-0"
    link={link}>Code</Link
  >
</Container>
