---
interface Props {
  type?: "h1" | "h2" | "h3";
  class?: string;
}

const { type = "h1", class: className } = Astro.props;

const fontSize = {
  h1: "text-[3rem] lg:text-[5rem]",
  h2: "text-[2.5rem] lg:text-[3rem]",
  h3: "text-[2rem] lg:text-[2rem]",
};
---

<h1
  class:list={[
    "leading-none text-primaryPurple font-medium",
    fontSize[type],
    className,
  ]}
>
  <slot />
</h1>
