---
import ProjectCard from "../components/ProyectCard.astro";
import Code from "../components/Icons/Code.astro";
import { projects } from "../constants";
---

<section id="projects">
  <div class="inline-flex items-center justify-center gap-2 mb-8">
    <Code />
    <h2 class="text-3xl">Projects</h2>
  </div>
  <div
    class="flex flex-col flex-wrap items-center justify-around gap-2 md:flex-row"
  >
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</section>
